{% extends 'main/base.html' %}
{% block content %}
{% load static %}
{% load widget_tweaks %}
<section  class="register">

      <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
           <p><label>Foydalanuvchi nomi</label> <br>{{u_form.username|add_class:"box"}}</p>

            <p><label>Foydalanuvchi email</label> <br>{{u_form.email|add_class:"box"}}</p>

            <p><label>Qiziqishlaringizni kiriting:</label><br> {{p_form.interesting|add_class:"box"}}</p>

            <p><label>Foydalanuvchi rasm</label> <br>{{p_form.profile_pic|add_class:"box"}}</p>

           <input type="submit" value="Saqlash" class="btn">
      </form>


</section>
{% endblock content %}